# General
.DS_Store
Thumbs.db
*~
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Editor
.vscode/
.idea/
.cursor/

# Frontend
node_modules/
build/
dist/
.npm
.yarn
